<table>
<thead>
  <tr>
    <td>Server</td>
    <% for (const hook of allHooks) { %>
      <td><%= hookDescriptions.get(hook)?.description ?? hook %></td>
    <% } %>
  </tr>
</thead>
<tfoot>
  <tr>
    <td>Server</td>
    <% for (const hook of allHooks) { %>
      <td><%= hookDescriptions.get(hook)?.description ?? hook %></td>
    <% } %>
  </tr>
</tfoot>
<tbody>
  <% for (const [deployment, facilities] of data.entries()) { %>
    <tr>
      <th colspan="<%= allHooks.length + 1 %>"><%= deployment.replace('https://central-', '').replace('https://sync-', '').replace('.tamanu.io', '') %></th>
    </tr>
    <tr>
    <% for (const [facility, hooks] of facilities.entries()) { %>
      <th><%= facility ?? 'Central' %></th>
      <% for (const hook of allHooks) { %>
        <td class="<%= (hooks.get(hook) ?? 0) > (hookDescriptions.get(hook)?.threshold ?? 0) ? 'over-threshold' : 'under-threshold' %>"><%= hooks.get(hook) ?? '' %></td>
      <% } %>
    <% } %>
    </tr>
  <% } %>
</tbody>
</table>

<style>
  body {
    font-family: sans-serif;
  }

  table {
    border-collapse: collapse;
    border: 1px solid black;
  }

  table td, table th {
    border: 1px solid black;
    padding: 0.5em;
  }

  table th {
    background: #eee;
  }

  table thead, table tfoot {
    color: #555;
  }

  .over-threshold {
    background: #f00;
    color: #fff;
  }

  .under-threshold {
    background: #0f0;
  }
</style>
